# PSRAM 8 Mo (N16R8) — framebuffer 300 Ko + heap externe
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Stack main task (HTTP client + serde_json sont gourmands en pile)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
